* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 1260px;
  margin: 0 auto;
}
header {
  /* background-color: #e67e22; */
  height: 100vh;
  position: relative;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(hero.jpg);
  color: #fff;
}
.container-header {
  /* background-color: antiquewhite; */
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-container-inner {
  width: 50%;
  /* color: white; */
  /* background-color: aqua; */
}

nav {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

h1 {
  font-size: 54px;
  margin-bottom: 32px;
}
p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  border: none;
  border-radius: 9px;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
}
section {
  padding: 96px 0;
}
